@{
    ViewBag.Title = "Ext";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
    
}
<h2>Ext</h2>

@section JavaScript
{
    @Scripts.Render("~/Scripts/plugins/pluginSms.js")
    @Scripts.Render("~/Scripts/plugins/form-grid.js")
}