@model dynamic

@{
    ViewBag.Title = "SessionModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="view"></div>


@section JavaScript
{
      @Scripts.Render("~/Scripts/store/SessionModel.js")
   
}
@section Styles{

}