@model dynamic

@{
    ViewBag.Title = "Grouping Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>GridSearch</h2>

<div id="grid"></div>
@section JavaScript
{
    @Scripts.Render("~/Scripts/groupingGrid/grouping.js")
   
}
