@model dynamic

@{
    ViewBag.Title = "XTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="view"></div>


@section JavaScript
{
      @Scripts.Render("~/Scripts/templates/XTemplateEx.js")
   
}
@section Styles{

}