@{
    ViewBag.Title = "GridEditors";
    Layout = "~/Views/Shared/_Layout34.cshtml";
}

<h2>GridEditors</h2>



@section JavaScript
{
    @Scripts.Render("~/Scripts/ext34/components/ext34gridView.js")
}