body {
}

.myclock
{
background:-moz-linear-gradient(bottom,blue,navy);
border:2px solid black;
position: relative;
border-radius:100%;
-moz-transition:all 04s ease-in-out;
}


.myclock-hand
{
 background:red;
width:10px;
position:absolute;
left:49%;
-moz-transistion: all 1s ease-in-out;
border-radius: 10px 10px 0 0;
    
}